header {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    text-transform: capitalize;
}



h3 {font-weight: 300;}

.left, .right{
   
    padding: 1em;
}

.forecast {border: 1px solid white;
    background: #243d58 ;
    color: #fff;
    

}

#local-weather {
    border: 1px solid ;
    padding: 1em;
}

#search-history, #search-input {
    margin-top: 2em;
    color: rgb(8, 8, 8)
}

/*#search-input {display: none;}*/

#search-button {
    
    background-color: #007bff;
    border: none;
    color: #fff;
    
    cursor: pointer;
}

#search-city {
    padding: .5em;
    /*border: none;*/
    /*background-color: rgba(104, 105, 105, 0.8);*/
    color: rgb(13, 13, 13);
    margin-bottom: 10px;
    width: 100%;
}

button.city-name {
    border: 6px solid #0062cc;
    padding: .5em;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
    background: #adb5bd;
    /*color: #fff;*/
    margin-bottom: 5px;
    cursor: pointer;
}

/* ==== Mobile Specific Rules ==== */

@media (min-width: 992px) {
    .forecast {
        margin-right: 1em; 
        padding: .5em;
    }
}